:root {


    --primary: #ff7800;

    --secondary: #232B38;

    --ternary: #6c6c6c;

    --danger: #FE4545;

    --pure: #FEFEFE;

    --light: #F0F0F0;

    --heaven: #FFFFFF;

    --footer: #2D333F;
}


.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.magic-shadow {
    position: relative;
    background: var(--heaven);
}

.magic-shadow-small {
    position: relative;
    background: var(--heaven);
}

.box2 {
    position: relative;
}

.fa-heart {
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-left: 0.3rem;
    cursor: pointer;
    text-align: center;
}

.magic-shadow:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow.svg);
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    bottom: -23px;
    background-position: center;
}

.btn2 {
    margin-left: 0.3rem;
    margin-top: 1rem;
    text-decoration: none;
    display: inline-block;
    padding: .5rem 2rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn2:hover {
    background: var(--orange);
    color: #fff;
}

.heading2 {

    padding-bottom: 1rem !important;

}

.magic-shadow-small:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow-sm.svg);
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    bottom: -23px;
    background-position: center;
    left: 50%;
    transform: translateX(-50%);
}

.navbar2 {
    margin-bottom: 2rem;
    width: 100%;
    padding-top: 2rem;
    background: linear-gradient(180deg, #eee 0%, #fff 100%);
}

.navbar2 a {
    text-decoration: none;
    color: var(--secondary);
    font-family: "raleway-semibold";
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    transition: all .3s ease;
}

.navbar2 a.active {
    background: var(--primary);
    color: var(--pure);
}

.navbar2 a:hover {
    background: var(--primary);
    color: var(--pure);
}